body {
    background-color: #2e2e2e;
}

#container {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
}

#tile1, #tile2, #tile3, #tile4, #tile5, #tile6 {
    margin: auto;
    transition: background-color 500ms ease-out;
}

#tile1:hover, #tile2:hover, #tile3:hover, #tile4:hover, #tile5:hover, #tile6:hover {
    background-color: black;
}

#tile1, #tile2, #tile3, #tile4 {
    height: 150px;
    width: 150px;
    margin: 15px;
    background-color: antiquewhite;
}

#tile5, #tile6 {
    height: 150px;
    width: 330px;
    background-color: antiquewhite;
    margin: 15px;
}

#tile1, #tile2, #tile5 {
    float: left;
}

#tile3 {
    clear: both;
}

#tile3, #tile4, #tile6 {
    float: left;
}

#tile1 {
    background-color: #ff3838;
}

#tile1:hover {
    background-color: #c22929;
}